/.vscode
.env

# Visual Studio / .NET
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
[Bb]in/
[Oo]bj/
**/bin/
**/obj/

# NuGet
*.nupkg
packages/
project.assets.json


Thumbs.db
.DS_Store

*.log

*.csproj.user
*.userprefs

appsettings.Development.json
appsettings.*.local.json

*.apk
*.aab
*.keystore
*.dex
*.so
*.class
*.jar

publish/

*.cache
*.tmp
~$*

/artifacts/

